<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    {{{head}}}
  </head>
  <body>
    <div class="content">
      <div class="title">
        {{> heading}}
      </div>
      <nav class="drawer">
        {{> nav step=step}}
      </nav>
      <main>
        <div class="wrapper">
          <h2>
            {{title}}
          </h2>
          {{{body}}}  
        </div>
      </main>
      <footer>
        {{> footer step=step}}
      </footer>
    </div>
    {{{scripts}}}
  </body>
</html>